.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: $boldpink;
  }
  .btn {
    background-color: $pastel-orange;
    &:hover {
      background-color: #e7a63c;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}

#sub-head {
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-callout.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  
  &.content-section {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .mx-auto {
    background-color: #00000057;
    border-radius: 15px;
    padding: 20px 25px 25px;
  }
}